:root{
    --font-family:'Work Sans', sans-serif;
    --orang-color:#FF900E;
    --gray-color:#727272;
    --bisque:#FFF4E7;
    --black: #131313;
    --darkar:#424242;
    --font-family2:'Work Sans', sans-serif;
    
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
header{
    background-color: var(--bisque);
    width: 100vw;
}
/* Reuse Style */
.container{
    width:80%;
    margin: 0 auto;
    font-family: var(--font-family);
}
/* navigation Section Start */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-titel a{
    color: var(--black);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
.navigation ul{
    display: flex;
    align-items: center;
    padding: 30px;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
}
.navigation ul li a{
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    color: var(--gray-color);
}

/* Navigationbar End */
/* Hero Area Start */
.hero-area{
    padding: 30px 0px;
}
.hero-area-titel-container{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.hero-area-titel{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: var(--black);
    padding: 15px 0px;
}
.hero-area-description{
    color: var(--gray-color);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
}
.btn-hero-area{
    margin:30px 0px ;
}
.hero-area-btn{
    padding: 15px 25px;
    background-color: var(--orang-color);
    border: 2px solid var(--orang-color);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s;
}
.hero-area-btn:hover{
    background-color:  transparent;
    color: var(--gray-color);
}

.hero-area-image img{
    width: 100%;
}
/* Hero Area End */
/* Header Part End */
/*  Our-features1 section start */
.our-features{
    padding: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.our-features-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 50%;
}
.our-features-image-container img{
    width: 100%;
}
.our-features-text-container{
    width: 50%;
}
.our-features-titel{
    font-weight: 700px;
    font-size: 45px;
    padding-bottom: 10px;
}
.our-features-description{
    color: var(--gray-color);
    font-size: 20px;
}
.span1{
    font-weight: 500px;
    color:var(--gray-color);
}
.span2{
    color: var(--orang-color);
}
/*  Our-features1 section End */
/*  Our-features2 section start */
.Our-features-2{
    margin-top: 50px;
}
.our-features2-container{
 display: flex;
 gap: 30px;
}
.our-features2-text-container{
    width: 50%;
}
.our-features2-titel{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    width: 80%;
    padding: 0px 10px;
    border-left: 4px solid var(--orang-color);
    margin-bottom: 10px;   
}
.our-features2-description{
    width: 95%;
    color: var(--gray-color);
    font-size: 18px;
    padding-bottom: 10px;

}
.our-features2-image-container{
    position: relative;
    width: 50%;
}
.our-features2-image-container img{
    width: 100%;
}
.our-features-item{
    box-shadow: 3px 3px 3px whitesmoke;
    width: 90%;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0px;
}
.our-features-item-titel{
    font-size: 22px;
  margin: 10px 0px;
}
.our-fratures-item-description{
    font-style: normal;
    font-weight: 400;
    color: var(--gray-color);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-features2-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    position: absolute;
    left:47%;
    width: 15%;
    height: 110px;
    background-color: var(--orang-color);
    cursor: pointer;

}
.btn-titel{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
/*  Our-features2 section End */
/*  Some-fact section start */
.some-fact{
    margin-top: 100px;
}
.some-fact-text{
    width: 50%;
    padding: 100px 0px;
}
.some-fact-text>.some-fact-titel{
    font-size: 40px;
    font-weight: bold;
}
.some-fact-description{
    color: var(--gray-color);
}
.some-fact-item-container{
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
     display: flex;
     flex-wrap: wrap;
}
.some-fact-item{
    width: 20%;;
    padding: 30px 10px;
    margin: 0px 10px;
    border: 2px solid var(--orang-color);
    border-radius: 5px;
     transition: all 0.5s;
}
.some-fact-titel{
    padding: 10px 0px ;
    color: var(--black);
    font-size: 30px;
}
.some-fact-descripton{
    color: var(--gray-color);
}
.some-fact-item:hover{
    transform: rotate(360deg);
    background-color:var(--orang-color);
}
/*  Some-fact section End */
/*  Customar-review section start */
.customar-review{
    margin-top: 100px;
}
.heading{
    font-size: 20px;
 color: var(--orang-color);
}
.customar-review-text{
    text-align: center;
    padding: 30px 0px;
}
.customar-review-item-container{  
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 20px;
}
.customar-review-item{
    width: 30%;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.5s;
}
.customar-review-item:hover{
   transform: translateY(-50px);
   background-color: wheat;
  
} 
.customar-review-item img{
    width: 80px;
}
.customar-review-titel{
    padding: 10px 0px;
}
.customar-review-description,.client{
    padding: 5px 0px;
    color: var(--gray-color);
}.customar-icon-container{
    padding: 10px 0px;
}
.customar-icon-container i{
    color: var(--orang-color);
}
/*  Customar-review section start */
/*  our-sponspors section start */
.our-sponspors{
    margin-top:150px;
}
.our-sponspors-text{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.our-sponspors-titel{
    font-size: 40px;
    padding: 20px 0px;
    font-weight: bold;
}
.our-sponspors-description{
    color: var(--gray-color);
    font-size: 20px;
}
.our-sponspors-item-container{
    padding: 30px 0px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
 justify-content: space-evenly;
}
.our-sponspors-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
}

.our-sponspors-item-container img{
    width: 100%;
    -webkit-filter: grayscale(100%); 
     filter: grayscale(100%);
}
/*  our-sponspors section start */
/* Footer Section Start */
.footer{
    margin-top: 50px;
    background-color: var(--bisque);
    padding: 20px 0px;
    text-align: center;
    color: var(--gray-color);
}
/* Footer Section End */

/* Mobile Device Resoinsive */
@media only screen and (max-width:576px) {
    .container{
        width: 100%;
    }
    .navigation{
        flex-direction: column;
        gap: 0px;
        padding: 10px;
        width: 100%;
        margin: 0 auto;
        padding: 30px 50px;
    }  
    .navigation ul li{
        padding: 10px px;
    }
    .navigation ul{
        flex-direction: column;
    }
    .navigation ul li a:hover{
        background-color: #424242;
        gap: 0px;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
    }
    .hero-area-titel-container,.hero-area-image img{
        width: 100%;
        padding: 0px 30px;
    }
    /* responsive our-features */
    .our-features{
        flex-direction: column-reverse;
    }
    .our-features-text-container,.our-features2-text-container,.our-features2-titel,.our-features2-description,.our-features2-image-container,.our-features2-image-container{
        width: 100%;
    }
    .our-features-image-container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .our-features2-container{
        padding: 0px 50px ;
        flex-direction: column;
    }
    .our-features2-btn{
        left:30%;
        width: 40%;
        height: 20%;
    }
    .btn-titel{
        font-size: 2rem;
    }
    .some-fact-item-container,.customar-review-item-container{
        width: 100%;
        flex-direction: column;
    }
    .some-fact-item,.customar-review-item{
        width: 50%;
        margin: 0 auto;
    }
    .customar-review-item:hover{
        transform: none;
    }
    .some-fact-text,.our-sponspors-text{
        width: 100%;
        text-align: center;
        padding: 20px 50px;
    }
    .our-sponspors-item-container{
        flex-direction: column;
        gap: 30px;
    }
    .our-sponspors-item-container img{
        -webkit-filter: grayscale(100%); 
        filter: grayscale(0%);
    }
}
